body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}




.paragraph-primary {
    width: 50%;
    margin: 0 auto;
    color: gray;
}
.btn-primary {
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 600;
}
h2 {
    font-size: 38px;
}




.header {
    text-align: center;
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 110px;
}
.header h1 {
    font-size: 55px;
    width: 50%;
    margin: 0 auto;
    color: white;
    padding-top: 90px;
}
.header p {
    color: white;
    margin-bottom: 70px;
    margin-top: 20px;
}




.donate-today {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.donate-money {
    display: flex;
    width: 55%;
    margin: 0 auto;
    justify-content: space-between;

}
.donate-money p {
    padding: 20px;
    background-color: whitesmoke;
    font-size: 23px;
    color: gray;
    font-weight: 600;
    border-radius: 5px;
    margin: 50px 0;
}
#donate-money-para {
    color: orangered;
    border: 2px solid orangered;
    background-color: rgba(255, 68, 0, 0.1);
}
input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 55%;
    border-bottom-color: gray;
    border-bottom-width: 1px;
    margin-top: 30px;
    margin-bottom: 50px;
}
input::placeholder {
    text-align: center;
    color: gray;
}